@import './root.css';

body{
    background-color: var(--normal-bg-color);
}

a{
    text-decoration: none;
}

#loadingModal{
    margin: auto;
    background: none;
    border: none !important;
    box-shadow: none;
    outline: none;
}

/* CABEÇALHO */
.cabecalho{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo span{
    color: black;
    font-size: var(--tamanho-titulo);
}

nav{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    list-style-type: none;
}

.navbar a{
    font-size: var(--tamanho-texto-nav);
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color: var(--primary-color)
}

.ativo{
    text-decoration: underline!important;
    text-underline-offset: 8px;
    color: var(--primary-color)!important;
}

.profile{
    width: 5%;
    position: relative;
    display: inline-block;
}

.profile button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

.profile button img{
    width: 45px;
    border-radius: 50%;
}

.profile button:hover img{
    background-color: var(--normal-bg-color);
}

/* PERFIL */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .sair{
    color: var(--primary-color);
}

.dropdown-content a:hover {
    background-color: rgb(225, 240, 254);
}

.mostrar{
    display: block;
}

/* CORPO DA PÁGINA */
.conteudo-achar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.body{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-achar {
    width:100%;
    height:10vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 20px;
}

.infos{
    width: 100%;
}

.infos span{
    color: white;
}

.infos .titulo{
    font-size: var(--tamanho-titulo);
    padding-right: 15px;
}

.infos .subtitle{
    font-size: var(--tamanho-desc);
}

.filtro{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.filtro a,
.filtro i{
    font-size: var(--tamanho-desc);
    color: white;
    text-decoration: none;
}

.filtro a{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.filtro a:hover,
.filtro i:hover{
    color: var(--primary-color);
}

.produtores{
    width: 100%;
}

.linha{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    background-color: var(--bg-color-kpi);
    width: 22%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-box img{
    width: 150px;
    border-radius: 80px;
}

.cabecalho-box span{
    color: black;
    font-size: var(--tamanho-desc);
}

.corpo-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.acoes-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.acoes-box button{
    border: 1px solid var(--button-color);

    background-color: var(--btn-cadastrar-background);
    border-radius: 10px;
    font-size: var(--tamanho-texto-nav);
    color: var(--button-color);

    width: 100px;
    height: 30px;

    transition: 0.5s;
    cursor: pointer;
}

.acoes-box button:hover{
    background-color:var(--button-color);
    color: white;
}

.convite{
    width: 70%;
    justify-content: space-around;
}

/* TELA DE PERIL*/
.margin-bottom{
    margin-bottom: 5%;
}

.margin-top{
    margin-top: 0.7vh;
}

.corpo-perfil{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.divisoes-perfil{
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.column-esquerda-perfil{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.foto-perfil{
    width: 100%;
    background-color: #f1f1f1;
    height: 58%;
    border-radius: 20px;
}

.conteudo-foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.conteudo-foto-perfil img{
    border-radius: 50%;
    height:250px;
    width: 250px;
}

.conteudo-foto-perfil span{
    color: black;
    font-size: var(--tamanho-sub);
    font-weight: var(--bold-leve);
}

.redes-perfil{
    width: 100%;
    background-color: #f1f1f1;
    height: 40%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-redes-perfil{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.rede-social{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:5%
}

.rede-social i{
    font-size: var(--tamanho-icone-redes-perfil);
    color: black;
}

.rede-social span{
    font-size: var(--tamanho-desc);
    color: var(--primary-color);
}

.user{
    height: 100%;
    display: flex;
    justify-content: center;
}

.column-direita-perfil{
    width: 69%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-direita-perfil{
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organizar-infos{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.descricao-perfil{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.txt-descricao-perfil{
    display: flex;
    align-items: flex-start;
}

.txt-descricao-perfil span{
    text-align: left;
}

.titulo-perfil{
    display: flex;
    align-items: flex-start;
}

.titulo-perfil span{
    color: black;
    font-size: var(--tamanho-desc);
    font-weight: var(--bold-leve);
    text-align: left;
}

.informacoes-perfil{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos-unicas-perfil{
    width: 40%;
    justify-content: space-between;
    display: flex;   
}

.generos-perfil{
    width: 100%;
}

.lista-generos-perfil{
    display: flex;
    width: 100%;
}

.caixa-item{
    background-color: var(--adm-bg-color);
    padding: 2px 12px 2px 12px;
    border-radius: 4px;
}

.caixa-item span{
    font-size: var(--tamanho-item-perfil);
}

.genero-perfil{
    margin-right: 3%;
}

.botao{
    border: 1px solid var(--button-color);

    background-color: var(--btn-cadastrar-background);
    border-radius: 10px;
    font-size: var(--tamanho-texto-nav);
    color: var(--button-color);

    width: 100px;
    height: 30px;

    transition: 0.5s;
    cursor: pointer;
}

.botao:hover{
    background-color:var(--button-color);
    color: white;
}

.modal{
    margin: auto;
}

.content-modal{
    margin: auto;
}