@import './root.css';

*{
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.5)), url(".././assets/partnership.jpg");
    background-size: cover;
}

button{
    cursor: pointer;
}

textarea {
    resize: none;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingModal{
    margin: auto;
    background: none;
    border: none !important;
    box-shadow: none;
    outline: none;
}

.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vh;
    border-radius: 10px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
}

.cabecalho span{
    font-size: var(--tamanho-titulo);
}

.forms{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campos-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;
}

.margin-top{
    margin-top: 3%;
}

.margin-bottom{
    margin-bottom: 4%;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo label{
    font-size: var(--tamanho-pequeno);
}

.campo input{
    border: 1px solid black;
    border-radius: 10px;
    height: 45px;
    padding-left: 5px;
    font-size: var(--tamanho-texto-nav);
    margin-top: 1%;
}

.campo textarea{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 8px;
    font-size: var(--tamanho-texto-nav);
}

.campo select{
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--tamanho-texto-nav);
    background-color: white;
    height: 45px;
    margin-top: 1%;
}

.ipt-rede{
    position: relative;
    display: inline-block;
    width: 100%;
}

.ipt-rede input{
    padding-right: 55px;
    width: 86%;
}

.ipt-rede button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.ipt-rede button i{
    font-size: 1.4em;
}

.input-genero{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-genero select{
    width: 100%;
}

.input-genero button{
    width: 5%;
}

.maximo input{
    width: 100% !important;
}

.input-genero button{
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.input-genero button i{
    font-size: 1.4em;
}

.ipt-senha{
    position: relative;
    display: inline-block;
    width: 100%;
}

.ipt-senha input{
    padding-right: 55px;
    width: 86%;
}

.ipt-senha button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.ipt-senha button i{
    font-size: 1.4em;
}

.verificacoesSenha{
    display: flex;
    flex-direction: column;
}

.verificacoesSenha span{
    color: var(--primary-color);
}

.campo-confirmacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.campo-confirmacao label{
    font-size: var(--tamanho-texto-nav);
    margin-left: 3%;
}

.campo-confirmacao input{
    border-radius: 10px;
    width: 15px;
}

.add-top{
    display: flex;
    justify-content: space-between;
}

.inputs-class{
    display: flex;
    flex-direction: column;
}

.botao{
    width: 100%;
}

.botao button{
    background-color: var(--bg-color-footer);
    border:none;
    border-radius: 10px;
    font-size: var(--tamanho-sub);
    color: white;

    margin-right: 20px;

    width: 100%;
    height: 50px;

    transition: 0.5s;
}

footer{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}


/* MODAL */ 
dialog{
    margin: auto;
    border: none;
    outline: none;
    filter: drop-shadow(3px 1px 2px rgb(0, 0, 0));
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.493);
}

.content{
    width: 30vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo i{
    margin-bottom: 10px;
    font-size: 3.5em;
    color: red;
}

.corpo span{
    text-align: center;
}

.rodape{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape button{
    background-color: var(--bg-color-footer);
    border:none;
    border-radius: 3px;
    font-size: 1em;
    color: white;

    width: 50px;
    

    transition: 0.5s;
}

#meio,#final{
    display: none;
}